<%= form_for(@task) do |f| %>
  
  <div class="form-group">
    <%= f.label :content, 'Content' %>
    <%= f.text_area :content, class: 'form-control', rows: 5 %>
  </div>
  <div class="form-group">
    <%= f.label :status, 'Status' %>
    <%= f.text_field :status, class: 'form-control' %>
  </div>
  
  <%= f.submit 'Post', class: 'btn btn-primary btn-block' %>
<% end %>